html,
body {
    background-color: #eee;
    margin: 0px;
    padding: 0px;
}

.pagebox {
    background-color: rgba(161, 197, 247, 0.8);
    border-radius: 6px;
    box-shadow: 2px 2px 3px 1px rgba(122, 122, 122, 0.3), -2px -2px 3px 1px rgba(122, 122, 122, 0.3);
    position:absolute;
    border: 1px solid rgba(62, 63, 63, 0.6);
}


/*边框元素*/

.pagebox margin {
    display: block;
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 35%);
}

.pagebox margin>* {
    position: absolute;
    display: block;
    //background-color: aquamarine;
}

.pagebox margin lefttop {
    width: 10px;
    height: 10px;
    cursor: nw-resize;
}

.pagebox margin left {
    width: 10px;
    height: calc(100% - 20px);
    top: 10px;
    left: 0px;
    cursor: w-resize;
}

.pagebox margin leftbottom {
    width: 10px;
    height: 10px;
    bottom: 0px;
    left: 0px;
    cursor: sw-resize;
}

.pagebox margin righttop {
    width: 10px;
    height: 10px;
    top: 0px;
    right: 0px;
    cursor: ne-resize;
}

.pagebox margin right {
    width: 10px;
    height: calc(100% - 20px);
    top: 10px;
    right: 0px;
    cursor: e-resize;
}

.pagebox margin rightbottom {
    width: 10px;
    height: 10px;
    bottom: 0px;
    right: 0px;
    cursor: se-resize;
}

.pagebox margin top {
    width: calc(100% - 20px);
    height: 10px;
    top: 0px;
    left: 10px;
    cursor: n-resize;
}

.pagebox margin bottom {
    width: calc(100% - 20px);
    height: 10px;
    bottom: 0px;
    left: 10px;
    cursor: s-resize;
}


/*标题栏*/

.pagebox pagebox_title {
    display: block;
    position: absolute;
    width: calc(100% - 12px);
    height: 22px;
    top: 6px;
    left: 6px;
    user-select: none;
    cursor: default;
}

.pagebox pagebox_title>div>* {
    display: block;
}

.pagebox pagebox_title ico {
    height: 30px;
    width: auto;
    max-width: 30px;
    line-height: 20px;
    font-size: 18px;
    float: left;
}

.pagebox pagebox_title text {
    display: block;
    height: 100%;
    line-height: 20px;
    width: calc(100% - 110px - 30px);
    font-size: 14px;
    float: left;
    overflow: hidden;
    text-indent: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: .2rem 0rem .8rem rgba(255, 255, 255, 0.6), -.2rem 0rem .8rem rgba(255, 255, 255, 0.6), 0rem .2rem .8rem rgba(255, 255, 255, 0.6), 0rem -.2rem .8rem rgba(255, 255, 255, 0.6);
}
/*标题栏右上角按钮组*/
.pagebox pagebox_title btnbox {
    width: auto;
    height: 18px;
    float: right;
    display: block;
    border: 1px solid rgba(62, 63, 63, 0.6);   
    margin-top: -7px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: -2px 0px 2px rgba(255, 255, 255, 0.6), 2px 0px 2px rgba(255, 255, 255, 0.6), 0px 2px 2px rgba(255, 255, 255, 0.6);
}

.pagebox pagebox_title btnbox>* {
    width: 30px;
    height: 18px;
    display: block;
    float: left;
    color: #fff;
overflow: hidden;
    position: relative;
    border-right: 1px solid rgba(62, 63, 63, 0.6);
}
.pagebox pagebox_title btnbox>*:hover {
    background-color: rgb(7, 119, 195);
    box-shadow:rgb(255,255,255) 0px 0px 3px inset;
}
.pagebox pagebox_title btnbox>*:hover:after {  
content: "";     
    width: 30px;
    margin-left: 0px;
    margin-top: 10px;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    text-align: center; 

    background-image: radial-gradient(rgba(66, 251, 240,0.8) 50%,  rgba(66, 251, 240, 0));
     
}
.pagebox pagebox_title btnbox>*:first-child {    
    border-radius: 0px 0px 0px 4px;
}
.pagebox pagebox_title btnbox>*:last-child {   
   border-radius: 0px 0px 4px 0px;
    
    border-right:  none;
}
.pagebox pagebox_title btnbox>*::before {
    position: absolute;
    z-index: 3;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6), -1px 0px 1px rgba(0, 0, 0, 0.6), 0px 1px 1px rgba(0, 0, 0, 0.6), 0px -1px 1px rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 30px;
    display: block;
    text-align: center;
    height: 18px;
    line-height: 18px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, .8), rgba(255, 255, 255, .1));
}

.pagebox pagebox_title btn_min {  
    
}

.pagebox pagebox_title btn_min::before {
    content: "\2013";    
    font-size: 20px;
    font-weight: 900;   
    line-height: 22px;
}

.pagebox pagebox_title btn_max::before {
    content: "\2610";
    font-size: 6px;
    font-weight: 900;
    transform: scale(1.2, 1);    
}

.pagebox pagebox_title btn_close {    
    background-color: rgb(195, 7, 7);
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 6px inset;
    width: 45px;
}

.pagebox pagebox_title btn_close:hover {
    background-color: rgb(255, 0, 0);
}

.pagebox pagebox_title btn_close::before {
    content: "\2716";
    width: 45px;
    display: block;
    text-align: center;
    height: 18px;
    font-size: 13px;
    font-weight: 900;
    line-height: 18px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .9) 1%, rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, .1) 55%);
    border-radius: 0px 0px 4px 0px;
}
.pagebox pagebox_title btn_close:hover::after { 
    display: none;
}

/*内容区*/

.pagebox iframe {
    width: calc(100% - 12px - 2px);
    height: calc(100% - 28px - 6px - 2px);
    bottom: 5px;
    left: 6px;
    position: absolute;    
    background-color: rgb(218, 230, 245);
    border: 1px solid #777;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px -1px 2px 1px rgba(255, 255, 255, 0.8);
}


/*遮罩*/

.pagebox pagebox_mask {
    position: absolute;
    width: calc(100% - 12px - 2px);
    height: calc(100% - 28px - 6px - 2px);
    background-color: rgba(219, 190, 23, 0.3);
     bottom: 5px;
    left: 6px;
    z-index: 1;
    display: none;
}