@charset "utf-8";
html, body {   
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.tabsbox{
	background-color: red;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}
.tabsbox>*{
	display: block;
}
.tabsbox tabs_titlebar{	
	height: 30px;
	width: calc(100% - 30px);	
	background-color: green;
}
.tabsbox tabs_more{
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: blue;
}
.tabsbox tabs_body{
	position: absolute;
	width: 100%;
	height: calc(100% - 30px);
	left: 0px;
	bottom: 0px;
	background-color: yellow;
}