@charset "utf-8";

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.treemenu {
 border-radius: 4px 0px 0px 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(200,200,200,.6);
}

.treemenu * {
    display: block;
}

.treemenu tree_tags {
    width: 40px;
    height: 100%;
    
    float: left;
    position: relative;
    overflow: hidden;
}

.treemenu tree_tags tree_tag {
    cursor: pointer;
    transform: background-color 1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}

.treemenu tree_tags tree_tag ico {
    height: 30px;
    width: 100%;
    line-height: 35px;
    text-align: center;
    display: block;
    font-size: 18px;
    font-family: "webdesk_icon" !important;
}

.treemenu tree_tags tree_tag itemtxt {
    height: 30px;
    width: calc(100% - 10px);
    overflow: hidden;
    line-height: 30px;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
}

.treemenu tree_tags tree_tag.curr {
   background-color: rgba(255,255,255,.6);
}

/*折叠按钮*/
.treemenu tree_tags tree-foldbtn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.treemenu tree_tags tree-foldbtn.fold {
    transform: rotate(180deg);
}

.treemenu tree_tags tree-foldbtn:before {
    content: '\a016';
    line-height: 40px;
    font-size: 16px;
    font-family: "webdesk_icon" !important;
}

.treemenu tree_tags tree-foldbtn:hover {
    color: #eee;
}

/*树形菜单区域*/
.treemenu tree_body {
     background-color: rgba(255,255,255,.6);
    height: 100%;
    float: right;
    overflow: auto;
    position: relative;
}

.treemenu tree_area {
    width: 100%;
    height: calc(100% - 10px);
    display: block;
    display: none;
    margin: 0px;
    padding: 0px;
    cursor: default;
    --background-color: green;
}

.treemenu tree_area tree_tit {
    height: 30px;
    line-height: 30px;
    width: calc(100% - 20px);
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
    border: solid 1px #aaa;
    background-color: rgba(255,255,255,.4);

}

/*树形节点*/
.treemenu tree-node {
    position: relative;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    padding-right: 30px;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.treemenu tree-node span {
    width: auto;
    display: inline-block;
}

.treemenu tree-node span:before {
    content: attr(ico);
    line-height: 30px;
    font-size: 18px;
    height: 30px;
    font-weight: normal;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    font-family: "webdesk_icon" !important;
}

.treemenu tree-node.folder {
    --background-color: #ccc;
}

.treemenu tree-node:after {
    line-height: 30px;
    font-size: 10px;
    height: 30px;
    width: 20px;
    color: #999;
    display: block;
    position: absolute;
    text-align: center;
    top: 0px;
    right: 5px;
    font-family: "webdesk_icon" !important;
}

.treemenu tree-node:hover {
    background-color: #ddd;
}

.treemenu tree-node:hover:after {
    color: #fff;
}

.treemenu tree-node.folder:after {
    content: '\a006';
    transform: rotate(90deg);
}

.treemenu tree-node.folderclose:after {
    content: '\a006';

}